.rule_content table,
.shike_punishRule_content table,.merchant_punishRule_content table{
  width: 980px;
  margin-top: 25px;
}
.rule_content table th,
.shike_punishRule_content table th,.merchant_punishRule_content table th,
.rule_content table td,
.shike_punishRule_content table td,.merchant_punishRule_content table td{
  border: 1px solid #c8c8c8;
  padding: 15px 0;
}
.rule_content table th,
.shike_punishRule_content table th ,.merchant_punishRule_content table th{
  color: #323232;
  font-size: 18px;
  font-weight: bold;
}
.rule_content table td span,
.shike_punishRule_content table td span,.merchant_punishRule_content table td span{
  color: #f10180;
}
.rule_content table td p,
.shike_punishRule_content table td p,.merchant_punishRule_content table td p {
  font-size: 14px;
  padding: 0 20px;
  line-height: 28px;
}
.rule_content table td.title,
.shike_punishRule_content table td.title,.merchant_punishRule_content table td.title {
  color: #323232;
  font-size: 16px;
  text-align: center;
}
.rule_content table td:first-of-type,
.shike_punishRule_content table td:first-of-type {
  text-align: center;
  width: 100px;
}
.shike_punishRule_content table td p {
  padding: 0 15px;
}
.shike_punishRule_content td:nth-of-type(1),
.shike_punishRule_content .th:nth-of-type(1) {
  text-align: center;
  width: 150px !important ;
}
.shike_punishRule_content td:nth-of-type(1) {
  padding: 10px;
  font-size: 14px;
  color: #323232;
}
.shike_punishRule_content td:nth-of-type(3),
.shike_punishRule_content .th:nth-of-type(3) {
  text-align: center;
  width: 315px;
}

.merchant_punishRule_content table th{
  text-align:center !important ;
}
.merchant_punishRule_content table th:first-of-type {
  text-align: center;
  width: 100px;
}
.merchant_punishRule_content table th:nth-of-type(2) {
  text-align: center;
  width: 145px;
}
.merchant_punishRule_content th:nth-of-type(3) {
  width: 440px;
}
.merchant_punishRule_content th:nth-of-type(4) {
  text-align: center;
  width: 300px;
}
.violation_sort{
  text-align:center;
}
.violation_sort p{
  color:#333 !important;
  font-size:16px;
}
.violation{
  color: #333 !important;
  font-size: 16px;
  padding:0 35px !important ;
}