.lookScreenshot_modal,
.lookScreenshot_modals {
  position: fixed;
  z-index: 99;
  top: 48%;
  left: 50%;
  background-color: transparent;
  text-align: center;
}
/*.lookScreenshot_modal{
  width:1200px;
  height:600px;
  !*border:1px solid #fff;*!
  border-radius:5px;
  overflow:auto;
}
.lookScreenshot_modal .sample_graph img{
  border:5px solid #fff;
  border-radius:5px;
}*/
.lookScreenshot_modal .header,
.lookScreenshot_modals .header {
  position: fixed;
  z-index: 100;
  top: 25px;
  right: 19%;
}
.lookScreenshot_modal .header span,
.lookScreenshot_modals .header span {
  display: block;
  float: right;
  width: 50px;
  cursor: pointer;
}
.mask_layer_shot {
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 88;
}
