.personal_active {
  color: #f10180 !important;
}
#section .section_main .content {
  background-color: #f5f5f5;
}
#section .section_main .content .member_power {
  overflow: hidden;
}
#section .section_main .content .member_power .personal_details {
  width: 393px;
  height: 150px;
  margin-right: 2px;
  background-color: #fff;
  overflow: hidden;
}
#section .section_main .content .member_power .personal_details .avatar {
  padding: 40px 15px 0 25px;
}
#section .section_main .content .member_power .personal_details .avatar img {
  width: 72px;
  height: 73px;
}
#section .section_main .content .member_power .personal_details .username > h1 {
  padding-top: 20px;
  color: #323232;
  font-size: 18px;
}
#section .section_main .content .member_power .personal_details .username > p {
  padding: 7px 0;
  font-size: 14px;
}
#section .section_main .content .member_power .personal_details .username > p span {
  color: #f10180;
  padding-right: 5px;
}
#section .section_main .content .member_power .personal_details .username > p b {
  font-weight: normal;
  color: #969696;
  font-size: 12px;
}
#section .section_main .content .member_power .personal_details .username > input {
  width: 120px;
  height: 30px;
  line-height: 30px;
  background-color: #f10180; 
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
}
#section .section_main .content .member_power .try_task {
  width: 645px;
  height: 150px;
  background-color: #fff;
  padding: 10px 28px;
}
#section .section_main .content .member_power .try_task .try_monery {
  font-size: 14px;
  color: #323232;
}
#section .section_main .content .member_power .try_task .try_monery > input {
  width: 120px;
  height: 34px;
  line-height: 34px;
  background-color: #f10180;
  border-radius: 5px;
  margin-right: 18px;
  color: #fff;
  font-size: 14px;
}
#section .section_main .content .member_power .try_task .try_monery > span {
  color: #ef2528;
  font-weight: normal;
  font-size: 20px;
}
#section .section_main .content .member_power .try_task .try_monery > a {
  padding: 0 18px 0 8px;
  color: #f10180;
  font-size: 12px;
  cursor: pointer;
}
#section .section_main .content .member_power .try_task > p {
  padding-top: 7px;
  letter-spacing: 0.5px;
}


#section .section_main .content .task_specification {
  width: 780px;
  background-color: #fff;
  margin-top: 10px;
  padding-bottom: 50px;
}

.task_specification b{
  color: #f10180;
}

.content .task_specification h2{
  font-size:20px;
  color:#323232;
  margin:30px 30px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}


.content .task_specification .task_list{
  margin:0  30px;
}

.content .task_list .task{
  margin-top: 30px;
}

.content .task .task_title{
  font-size: 16px;
  color: #323232;
  background: url(../images/line.png) left no-repeat;
  padding-left: 25px;
}



.content .task .shop_list .shop{
  width: 240px;
  height: 82px;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  margin-top: 20px;
  margin-left: -1px;
  padding: 15px;
}

.content .task .shop_list .shop[class*='active']:hover{
  border: 1px solid #ffe3e6;
  background-color: #fffcfc;
  cursor: pointer;
}

.content .shop_list .shop .shop_name{
  font-size: 14px;
  color: #646464;
  width:208px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.content .shop_list .shop .shop_name img{
  width: 15px;
  height: 15px;
  float: right;
}

.content .shop_list .shop .shop_order{
  font-size: 12px;
  color: #969696;
  margin-top: 15px;
}





.content .news-list{
  width: 250px;
  background-color: #fff;
  margin-top: 10px;
  padding-bottom:20px;
}

.content .news-list h2{
  font-size:20px;
  color:#323232;
  margin: 30px 20px 15px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.content .news-list h2 > .more{
  font-size: 12px;
  color:#646464;
  margin-top: 6px;
}

.content .news-list h2 > .more:hover{
  color:#f10180;
}

.content .news-list>p{
  margin:5px 20px;
  font-size:14px;
  color:#646464;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

.content .news-list .news>a:active{
  color:#969696;
}
/*#section .section_main .content .task_specification .see_more input:hover {
  background: url(../images/button_more_buttom_selected.png) center no-repeat;
}*/
.delivery_modal,
.audit_modal {
  display: none;
}
.delivery_modal .confirm_delivery,
.audit_modal .confirm_delivery {
  margin-top: 40px;
}
.delivery_modal .confirm_delivery label,
.audit_modal .confirm_delivery label {
  font-size: 14px;
}
.delivery_modal .confirm_delivery input,
.audit_modal .confirm_delivery input {
  width: 200px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #969696;
  border-radius: 5px;
  margin-left: 10px;
}
.delivery_modal .confirm_delivery p,
.audit_modal .confirm_delivery p {
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 152px;
}
.delivery_modal .confirm_delivery p span,
.audit_modal .confirm_delivery p span {
  color: #e61e28;
  font-size: 14px;
}
.delivery_modal .modal_submit,
.audit_modal .modal_submit {
  padding-top: 10px;
}
.delivery_modal .modal_submit input,
.audit_modal .modal_submit input {
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #f10180;
  border-radius: 5px;
}
.delivery_modal .modal_submit input:nth-of-type(2),
.audit_modal .modal_submit input:nth-of-type(2) {
  margin-left: 35px;
}
.audit_modal {
  display: none;
}
.audit_modal .confirm_audit {
  padding: 67px 0;
  font-size: 16px;
}


.credits_exchange,
.credits_get {
  display: none;
}
.credits_exchange .succeed_content,
.credits_get .succeed_content {
  padding-top: 24px;
}
.credits_exchange .succeed_content p.payment_succeed,
.credits_get .succeed_content p.payment_succeed {
  color: #323232;
  font-size: 16px;
  padding: 15px 0 10px 0;
}
.credits_exchange .succeed_content p.payment_succeed span,
.credits_get .succeed_content p.payment_succeed span {
  color: #f10180;
}
.credits_exchange .succeed_content p,
.credits_get .succeed_content p {
  font-size: 14px;
}
.credits_exchange .exchange_details,
.credits_get .exchange_details {
  padding: 30px 75px 5px 75px;
}
.credits_exchange .exchange_details p.credits,
.credits_get .exchange_details p.credits {
  color: #323232;
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 15px;
}
.credits_exchange .exchange_details p.credits span,
.credits_get .exchange_details p.credits span {
  display: inline-block;
}
.credits_exchange .exchange_details p.credits span b,
.credits_get .exchange_details p.credits span b {
  color: #005ea7;
}
.credits_exchange .exchange_details .exchange_principal,
.credits_get .exchange_details .exchange_principal {
  width: 300px;
  height: 100px;
  background-color: #fbfcff;
}
.credits_exchange .exchange_details .exchange_principal .one,
.credits_get .exchange_details .exchange_principal .one {
  color: #323232;
  font-size: 16px;
  padding-top: 8px;
}
.credits_exchange .exchange_details .exchange_principal .two input,
.credits_get .exchange_details .exchange_principal .two input {
  display: inline-block;
  width: 100px;
  text-align: center;
  color: #323232;
  font-size: 26px;
  border-bottom: 1px solid #969696;
  padding-top: 5px;
  background-color: #fbfcff;
  padding-left: 0;
}
.credits_exchange .exchange_details .exchange_principal .three,
.credits_get .exchange_details .exchange_principal .three {
  padding-top: 5px;
}
.credits_exchange .exchange_details p.get_principal,
.credits_get .exchange_details p.get_principal {
  width: 300px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  background-color: #fbfcff;
  font-size: 14px;
  color: #323232;
}
.credits_exchange .exchange_details p.get_principal span,
.credits_get .exchange_details p.get_principal span {
  color: #f10180;
}
.credits_exchange .exchange_details p.error,
.credits_get .exchange_details p.error {
  height: 24px;
  line-height: 24px;
}
.credits_exchange .exchange_details p.error span,
.credits_get .exchange_details p.error span {
  color: #e61e28;
}
.credits_exchange .modal_submit,
.credits_get .modal_submit {
  padding-top: 15px;
}
.credits_exchange .modal_submit input,
.credits_get .modal_submit input {
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #f10180;
  border-radius: 5px;
}
.credits_exchange .modal_submit input:nth-of-type(2),
.credits_get .modal_submit input:nth-of-type(2) {
  margin-left: 35px;
}

 .delivery_modal2{
	display:none;
}
 .delivery_modal2 .confirm_delivery{
	padding-top: 40px;
}
.delivery_modal2 .confirm_delivery label{
	font-size: 14px;
}
.delivery_modal2 .confirm_delivery input{
	width: 200px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #969696;
	border-radius: 5px;
	margin-left: 10px;
}
.delivery_modal2 .confirm_delivery p{
	padding:0 0 0 152px;
	height: 30px;
	line-height: 30px;
	text-align: left;
}
.delivery_modal2 .confirm_delivery p span{
	color: #e61e28;
	font-size: 14px;
}
.buohui{
  margin:0 10px !important;
}
.close{
  opacity: 1 !important ;
}

/*ÎÊ¾íµ÷²é*/
.question_mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.question_close{
  position: fixed;
  top: 100px;
  right: 370px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background: url('/images/merchant/dc_icon_off_default.png') right top no-repeat;
}


.question_pannel{
  position: fixed;
  top:50%;
  left: 50%;
  width: 1200px;
  height: 600px;
  background: #fffaf3;
  margin-left: -600px;
  margin-top: -300px;
  opacity: 1;
  border-radius: 10px;
}

.question_pannel em{
  font-size: 16px;
  font-weight: 700;
  color: #ff6e59;
}

.question_pannel .que_top .main_subject{
  margin: 40px auto 20px;
  width: 374px;
  height: 45px;
  background: url('../../images/merchant/dc_bg_bt_default.png') center no-repeat;
}

.question_pannel .que_top .sub_title{
  font-size: 16px;
  color: #333;
  text-align: center;
}


.question_pannel .que_main{
  margin: 25px 20px;
}

.question_pannel .que_main .que_item{
  float: left;
  width: 370px;
  height: 322px;
  background-color: #fff;
  padding: 20px;
}

.question_pannel .que_main .que_item +.que_item{
  margin-left: 20px;
}

.question_pannel .que_main .que_item .radio{
  background: url('/images/merchant/sj_fbsy_icon_quan_default.png') left center no-repeat;
}

.question_pannel .que_main .que_item .radio_actived{
  background: url('/images/merchant/spot.png') left center no-repeat;
}

.question_pannel .que_main .que_item .shop_list .checkbox{
  background: url('/images/merchant/checkbox_default.png') left center no-repeat;
}

.question_pannel .que_main .que_item .shop_list .checkbox_actived{
  background: url('/images/merchant/checkbox.png') left center no-repeat;
}

.question_pannel .que_main .textarea{
  padding: 10px;
  color: #333;
  font-size: 14px;
  width: 314px;
  height: 100px;
  resize: none;
  background: #f1f1f1;
  border: 1px solid #999;
  border-radius: 5px;
}

.question_pannel .que_main .textarea_actived{
  background-color: #fff;
}

.que_bottom .que_submit{
  margin-left: 550px;
  margin-top: 25px;
  width: 100px;
  line-height: 30px;
  text-align: center;
  background-color: #ff6e59;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}




